body
{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
nav
{
    width: 100%;
    height: 90px;
    line-height: 75px;
    padding: 0px 0px;
    position:absolute;
    background-color: white;
}
nav .logo 
{
float: left;
padding-top: 0px 30px;
padding-left: 100px;
}
nav ul
{
    margin-top: 20px;
    float: right;
    margin-right: 85px;
    font-family: Arial, Helvetica, sans-serif;
  
}
nav li
{
    display: inline-block;
    list-style: none;
}
nav li a
{
    font-size: 18px;
    padding: 0px 30px;
    text-decoration: none;
    color: #808285;
}
.logo img
{
    width: 120px;
    height: 77px;
    margin-left: 38px;
    margin-top: 20px;
}
.list1
{
    text-align: center;
    width: 100%;
    height: 100px;

}
.list1 ul
{
    margin-left: 465px;
}
.list1 li
{
    float: left;
    margin-left: 40px;
    list-style: none;
}
.list2
{
    width: 100%;
    height: 396px;
    margin-left: 40px;
}
.vid
{
    width: 100%;
    height: 800px;
}
.back-img1
{
    width: 30%;
    height: 395px;
    background-size: cover;
    float: left;
    margin: 10px;
    background-image:url(images/scuba-training-develop.jpeg) 
    
}
.back-img2
{
    margin: 10px;
    width: 30%;
    height: 395px;
    background-size: cover;
    float: left;
    background-image:url(images/deep-dive-dubai-abandoned-house.webp) 
}
.back-img3
{
    margin: 10px;
    width: 30%;
    height: 395px;
    background-size: cover;
    float: left;
    background-image:url(images/elearning_signup1.jpeg) 
}
.list2 h1
{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin-top: 300px;
}
.list2 h2
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    margin-top: -22px;
}
.dis1
{
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.dis1-left
{
    width: 20%;
    height: 400px;
    text-align: left;
    margin-left:200px;
    margin-top: 129px;
    float: left;
    padding-right: 20px;
}
.dis1-left h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.dis1-right
{
    width: 40%;
    height: 400px;
    text-align: left;
    margin-left: 260px;
    float: left;
    margin-top: 140px;
}
.dis1-right h1
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    color: #808285;
}
.button1
{
    background-color: white;
    color: #44aeeb;
    border-color: #44aeeb;
    width: 103px;
    height: 50px;
    float: left;
    text-align: center;
    margin-left: 200px;
    font-size: 15px;
    border-radius: 14px;
}
.dis2
{
    width: 100%;
    height: 100px;
}
.dis2 h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin-left: 150px;
}
.long-dis
{
    width: 100%;
    height: 800px;
    text-align: left;

}
.long-dis ul
{
margin-left: 50px;
}
.long-dis li
{
    width: 380px;
    height: 150px;
    float: left;
    margin-left: 40px;
    list-style: none;
    margin-top: 170px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;

}
.socials
{
    margin-left: 525px;
}
.button2
{
    background-color: #44aeeb;
    color: white;
    border-color: #44aeeb;
    width: 230px;
    height: 32px;
    float: left;
    text-align: right;
    margin-left: 90px;
    font-size: 15px;
    border-radius: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: -26px;
}
.pic-line1
{
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: aliceblue;
    margin-top: 30px;

}
.pic-line1 ul
{
    margin-left: 100px;
    float: left;
}
.pic3
{
    float: left;
    margin: 36px;
    list-style: none;
    font-size: 10px;
}
.dis2
{
    width: 100%;
    height: 150px;
    margin-top: 0px;
}
.dis2-left
{
    width: 38%;
    height: 200px;
    text-align: left;
    margin-left:18px;
    margin-top: 100px;
    float: left;
    padding-right: 0px;
}
.dis2-left h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.dis2-right
{
    width: 40%;
    height: 200px;
    text-align: left;
    margin-left: 260px;
    float: left;
    margin-top: 97px;
}
.button2
{
    background-color: white;
    color: #44aeeb;
    border-color: #44aeeb;
    width: 400px;
    height: 40px;
    float: left;
    text-align: center;
    margin-left: 3px;
    font-size: 15px;
    border-radius: 14px;
    margin-top: 18px;
}
hr
{
    width: 1300px;
    align-self: center;
    border-width: thick;
}.footer
{
    width: 100%;
    height: 600px;
    margin-top: 20px;
}
.footer-right
{
    width: 70%;
    height: 10px;
    padding-top: 80px;
    float: right;
    padding-right: 200px;
}
.info
{
    color:#808285;
    float: right;
    list-style: none;
    margin-left: -9px;
    font-size: 20px;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 33px;
}
.info h1
{
    font-size: 20px;
    font-weight:50;
    float: right;
    margin-top: 3px;
    margin-right: 3px;
}
.footer-left
{
    width: 35%;
    height: 60;
    margin-left: -135px;
}
.footer-left h1
{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-top: 80px;
}